.container {
    text-align: center; 
    margin-top: 15vh;
}

.main { 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    width: 100%;
} 

.card{ 
    background-color: gray;
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}