.container { 
    background-color: rgb(28, 28, 28);
    padding: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 1px 1px 3px black;
    z-index: 100;
}

.h1{ 
    color: white;
    margin-right: 20px;
}

.navItem { 
    color: white;
    font-weight: bold;
    padding:5px;
    height: fit-content;
    text-decoration: none;
    background-color: rgb(76, 76, 88);
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.active { 
    background-color: rgb(139, 41, 41);
}